<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.20/dist/js/uikit-icons.min.js"></script>


    </head>
    <body style="background-color: #F1F1F1;">
        <div class="uk-section-primary" style="background-color: #0C1154;">

            <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200" style="background-color: #0C1154;">
        
               <nav class="uk-navbar-container">
                    <div class="uk-container uk-container-expand" style="background-color: #0C1154;">
                        <div uk-navbar>
        
                            <ul class="uk-navbar-nav">
                                
                                    
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li>
                                    <a href="#">Fin-O-Rita</a>
                                    
                            </ul>
                                    </div>
                                </li>
                                
                           
                           <div class="uk-navbar-right">

                                <ul class="uk-navbar-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li>
                                        
                                        <div class="uk-navbar-dropdown">
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                                <li class="uk-active"><a href="#">Active</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="uk-active"><a href="#">Item</a></li>
                                    <li class="uk-active"><a href="#">Finance-planner</a></li>
                                    <li class="uk-active"><a href="{{ url_for('share') }}">Investments</a></li>
                                    <li class="uk-active"><a href="{{ url_for('courses') }}">Courses</a></li>
                                    <li class="uk-active"><a href="#">Events</a></li>   
                                    <li class="uk-active"><a href="#">Connect</a></li>
                                    <button class="uk-button uk-button-small uk-active" style="margin: 25px;height: 35px;background-color: #EB3847;">Sign-in</button>

                                    
                                        
                                </ul>
                        
                            </div>
        
                        </div>
                    </div>

                    
                </nav>
            </div>
        
            
        
        </div>
        <br>
        <br>
        <br>
           <h1 align="center"> Finance Courses </h1> 
	<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Financial Market Analysis</h3>
            <a href="https://www.edx.org/course/financial-market-analysis">Visit</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Finance Essentials</h3>
            <a href="https://www.edx.org/course/finance-essentials">Visit</a>
            
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Foundations of modern Finance-1</h3>
            <a href="https://www.edx.org/course/foundations-of-modern-finance-i">Visit</a>
        </div>
    </div>
    </div>
    
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Foundations of modern Finance-2</h3>
            <a href="https://www.edx.org/course/foundations-of-modern-finance-ii">Visit</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Introduction to Corporate Finance</h3>
            <a href="https://www.edx.org/course/introduction-to-corporate-finance">Visit</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">The Finance Process</h3>
            <a href="https://www.edx.org/course/the-project-finance-process">Visit</a>
        </div>
    </div>
    </div>
    
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Financial Markets</h3>
            <a href="https://www.coursera.org/learn/financial-markets-global">Visit</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Accounting & Finance</h3>
            <a href="https://www.coursera.org/specializations/finance-accounting">Visit</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Micro-economics</h3>
            <a href="https://www.coursera.org/learn/microeconomics">Visit</a>
        </div>
    </div>
    </div>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">FinTech</h3>
            <a href="https://www.coursera.org/learn/fintech-transformation-financial-services">Visit</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Investment strategies</h3>
            <a href="https://www.coursera.org/specializations/investment-strategy">Visit</a>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Basic Accounting</h3>
            <a href="https://www.coursera.org/learn/uva-darden-financial-accounting">Visit</a>
        </div>
    </div>
    </div>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Finance for beginners</h3>
            <a href="https://www.coursera.org/learn/finance-for-non-finance-managers">Visit</a>
        </div>
    </div>
    
    </div>
    <br>
    <br>
    <footer style="background-color: black;color: white;"><div align="center" style="background-color: black;color: white;"><p>Made with &hearts; by team</p></div></footer>
        </body>
        
</html>
